body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 600;


    color: #fab522;



}

#scene{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#ui{
    z-index: 20;
}